@font-face {
  font-family: "iconfont"; /* Project id 2971339 */
  src: url('iconfont.woff2?t=1638435913511') format('woff2'),
       url('iconfont.woff?t=1638435913511') format('woff'),
       url('iconfont.ttf?t=1638435913511') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinlangweibo:before {
  content: "\e601";
}

.icon-zhihu1:before {
  content: "\e69a";
}

.icon-github:before {
  content: "\e6f6";
}

.icon-weixin:before {
  content: "\e604";
}

.icon-qq:before {
  content: "\e600";
}

.icon-bofang:before {
  content: "\e63d";
}

.icon-zanting:before {
  content: "\e693";
}

.icon-shangyishou:before {
  content: "\e603";
}

.icon-xiayishou:before {
  content: "\e602";
}

